@font-face {
font-family: Calibre-Bold;
src: url('../fonts/Calibre-Bold.eot'); 
src: url('../fonts/Calibre-Bold.eot?') format('eot'),  
url('../fonts/Calibre-Bold.woff') format('woff'), 
url('../fonts/Calibre-Bold.ttf')  format('truetype'), 
url('../fonts/Calibre-Bold.svg#Calibre-Bold') format('svg'); 
}
@font-face {
font-family: Calibre-Regular;
src: url('../fonts/Calibre-Regular.eot'); 
src: url('../fonts/Calibre-Regular.eot?') format('eot'),  
url('../fonts/Calibre-Regular.woff') format('woff'), 
url('../fonts/Calibre-Regular.ttf')  format('truetype'), 
url('../fonts/Calibre-Regular.svg#Calibre-Regular') format('svg'); 
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 24px;
	line-height:26px;
  font-family: "Calibre-Regular";
  background-color: #1b317b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#1b317b;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 768px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 768px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section h2 {
  line-height: 10vh;
  text-align: center;
  font-size: 2.4rem;
}

.errors{
    margin: 2px 0px;
    text-align: center;
    position: relative;
}
.errors p{
	margin: 4px 0px;
    position: absolute;
    top: -49px;
    right: 6px;
    font-size:17px;
    color:red;
}

.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  /*content: 'Effects not visible on mobile!';*/
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
/*.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
/*[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../img/img-1.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg");
}*/
@media only screen and (min-width: 768px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 35px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 70px;
  width: 50px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow-down.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  /*-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);*/
  margin-bottom: 10px;
  background: url(../img/cd-icon-arrow-up.svg) no-repeat center center;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 768px) {
  .cd-vertical-nav {
    display: block;
  }
}

.cd-section {
	position:relative;
}
.cd-section > div {
  background-color: #ffffff;
  height: 100vh;
  
}
header {
	height:105px;
	/*border-bottom:1px solid #fdb813;*/
	/*background: url(../img/Kingsley-gate.svg) no-repeat 0 center;*/
	background-color: #d8d8d8;
	padding: 0px 35px;
	margin: 0px;
}
.innerWrap .heading {
	color: #5f51ca;
}
.logo {
	height:35px;
	margin-top:35px;
}
footer {
	height:22px;
	background:/*1d337c*/#2a364c;
	text-align:center;
	line-height:22px;
	font-size:16px;
	color:#ffffff;
	font-family: 'Calibre-Regular';
}
.bodyPart {
	margin:50px 95px 50px 70px;
	position:relative;
}
.leftWrap {
	position:absolute;
	left:0;
	width:50%;
	top:0;
	bottom:0;
}
.rightWrap {
	position:absolute;
	left:50%;
	right:0;
	top:0;
	bottom:0;
}
.innerWrap {
	position:absolute;
	top:0;
	bottom:0;
}
.leftWrap .innerWrap {
	left:0;
	right:35px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.rightWrap .innerWrap {
	left:35px;
	right:0;
	overflow:auto;
	color: #2a364c;
}
/*.cd-modal-content .leftWrap, .cd-modal-content .rightWrap, .cd-modal-content .innerWrap {
	position:static;
}*/
.cd-modal-content .bodyPart {

}
.cd-modal-content .leftWrap {
	width:220px;
	right:auto;
	color: #5f51ca;
}
.cd-modal-content .leftWrap strong {
	font-family:"Calibre-Bold";
	/*font-size:30px;*/
	display:block;
}
.cd-modal-content .rightWrap {
	left:255px;
	width:auto;	
}
.cd-modal-content .leftWrap img {
	width:100%;
}
.heading {
	font-family:"Calibre-Bold";
	font-size:32px;
	margin-bottom:25px;
	line-height: 35px;
	letter-spacing: 0.32px;
}
.button {
	display:inline-block;
	height:55px;
	line-height:55px;
	background:/*#fdb813*/#5e52c7;
	padding:0px 20px;
	color:#fff;
	font-family:"Calibre-Bold";
	cursor:pointer;	
}
.contact-section {
	width:800px;
	position:absolute;
	left:50%;
	margin-left:-400px;
	top:0;
	bottom:0;
	color: #2a364c;
	background:#e8eaf2;
	padding:20px 50px;
	overflow:auto;
}
.partner-bio-sign {
	color: #5f51ca;
	font-family:"Calibre-Regular";
	font-size: 30px !important;
	letter-spacing: 0.3px;
	line-height: 32px;
}
.partner-bio-sign span{
	font-weight: 400;
	letter-spacing: 0.26px;
	line-height: 32px;
	font-size: 26px !important;
}
.thankyou h2 {
	text-align: left !important;
}
#thank-backbtn {
	line-height: 30px;
	background: #5e52c7;
	padding: 0px 20px;
	color: #fff;
	font-family: "Calibre-Bold";
	cursor: pointer;
	margin-top: 20px;
	font-size: 16px;
	border:none;
	outline: none;
}
@media (min-width: 1024px) and (min-height:680px) {
	.contact-section {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.contact-section div {
	/*min-height:220px;*/
	display:block !important;
}
.txt-box, .txt-area {
	margin:0;
	padding:0;
	background:none;
	border:none;
	border-bottom:3px solid #5e52c7;
	height:58px;
	line-height:58px;
	font-family:"Calibre-Regular";
	font-size:26px;
	width:100%;
	margin-top:20px;
	color: #2a364c;
}
.txt-area {
	height:100px;
	line-height:normal;
	resize:none;
}
.sub-btn {
	display:block;
	margin:20px auto;
	height:58px;
	width:200px;
	background:#5e52c7;
	border:none;
	font-family:"Calibre-Bold";
	font-size:26px;
	color:#fff;
	text-align:center;
}
::-webkit-input-placeholder { /* Chrome */
  /*color: #1b317b;*/
  color: #2a364c;
}
:-ms-input-placeholder { /* IE 10+ */
  /*color: #1b317b;*/
  color: #2a364c;
}
::-moz-placeholder { /* Firefox 19+ */
  /*color: #1b317b;*/
  color: #2a364c;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  /*color: #1b317b;*/
  color: #2a364c;
  opacity: 1;
}
.page-img {
/*	height:35px;*/
	margin:5px 10px 5px 0;
	vertical-align:middle;
}
.img-1 {
	width:96px;
}
.img-2 {
	width:150px;
}
.img-3 {
	width:150px;
}
.img-4 {
	width:100px;
}
.img-5 {
	width:155px;
}

.page-img.galaxy {
	height:50px;
}
.page-link {
	color:#5f51ca;
	text-decoration:underline;
}
.srcolContainer {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:52px;
	overflow:auto;
	color: #2a364c;
	font-family: 'Calibre-Regular';
	font-size: 26px;
	line-height: 28px;
}
.srcolContainer.alisn-take-desc {
	color: #1b317b;
}
.alisn-take-desc .partner-sign {
	color: #5f51ca;
	font-family: 'Calibre-Regular';
	font-size: 26px;
	font-weight: 400;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: 0.26px;
}
.alisn-take-desc .partner-sign span {
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.22px;
}
.srcolContainer.first {
	top:90px;
}
.leftWrap .innerWrap img {
	display:none;
}
.rightWrap .innerWrap .heading {
	line-height: 28px;
}
.rightWrap .innerWrap .srcolContainer {
	top: 65px;
}
@media only screen and (max-width: 1024px) {
	body {
		font-size:20px;
		line-height:22px;
	}
	
	.bodyPart {
    margin: 30px 55px 30px 50px;
	}
	.leftWrap .innerWrap {
		right:15px;
		
	}
	.rightWrap .innerWrap {
		left:15px;
	}
	.cd-vertical-nav {
		right:15px;
	}
	.heading {
    font-size: 26px;
    margin-bottom: 15px;
	}
	.txt-box, .txt-area, .sub-btn {
		font-size:20px;
	}
	.cd-modal-content .leftWrap strong {
		font-size:24px;
	}
}
@media only screen and (max-width: 1023px) {
	.bodyPart {
    margin: 25px;
	}
	header {
		margin:0px;
	}
	.cd-modal-content .bodyPart {
		height:auto !important;
	}
	.leftWrap, .rightWrap, .leftWrap .innerWrap, .rightWrap .innerWrap, .cd-modal-content .leftWrap, .cd-modal-content .rightWrap, .srcolContainer {
		position:static;
		width:auto;
	}
	.leftWrap .innerWrap {
		position:static;
		height:auto;
		margin-bottom:20px;
		background-image:none;
	}
	.leftWrap .innerWrap img {
		display:block;
		width:100%;
	}
	.cd-modal-content .leftWrap {
		width:200px;
		margin:0 auto 15px auto;
	}
	.contact-section {
		width:auto;
		left:0;
		right:0;
		top:0;
		bottom:0;
		margin-left:0;
	}
	
}
@media only screen and (max-width: 767px) {
	.bodyPart {
    margin: 15px;
	}
	header {
		margin:0;
	}
	.logo {
		height:35px;
		margin-top:35px;
	}
	.bodyPart, .cd-section, .cd-section > div {
		height:auto !important;
	}
	.contact-section {
		width:auto;
		position:static;
		left:0;
		right:0;
		margin-left:0px;
		top:0;
		bottom:0;
		padding:20px;
		padding-bottom:0px;
	}
	header, footer {
		height:0;
		overflow:hidden
	}
	header.firstWrap {
		height:105px;
	}
  footer.lastWrap {
				height:22px;
	}

}
@media only screen and (max-width: 699px) {
	.button {
		padding:0;
		display:block;
		text-align:center;
	}
}
@media only screen and (max-width: 480px) {
	.button {
		font-size:15px;
	}
}

